/* main start */
html {
    font-size: 8px;
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
}
html.noscroll {
    overflow: hidden;
}
body {
    min-height: 100vh;
    background-color: bisque;
    text-align: center;
    margin: 0;
}
a {
    color: #000;
    text-decoration: none;
}
small > a {
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
}
/* main end */

/* Header start */
#header {
    width: 100%;
    height: 50px;
    background-color: beige;
}
#h1 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    line-height: 50px;
    white-space: nowrap;
    margin: 0 auto;
    z-index: 50;
}
/* Header end */

/* Menu desktop */
ul {
    list-style-type: none;
}
#nav__Desktop {
    display: none;
}

/* Menu start */
#menu__container {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 99%;
    height: 99%;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    pointer-events: none;
}
#scrollingMenu {
    position: relative;
    right: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: bisque;
    border-bottom-right-radius: 20px;
    margin-left: 20%;
    transition: 0.75s;
    pointer-events: auto;
}
#scrollingMenu.active {
    right: 20%;
}
#h1InMenu {
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
}
#sections {
    display: inline-block;
    text-align: left;
    padding: 0;
    margin: 0;
}
#sections > li {
    list-style: none;
    font-size: 3rem;
    line-height: 7rem;
}
#whyWithUsArrow, #contactUsArrow {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}
.arrowDown {
    transform: rotate(90deg);
}
#whyWithUsMenu {
    display: none;
    font-size: 2.5rem;
    line-height: 4.5rem;
    list-style: none;
}
#whyWithUsMenu.active {
    display: block;
}
.contactMenu > li {
    cursor: pointer;
}
#contactMenu {
    display: none;
    font-size: 2.5rem;
    line-height: 4.5rem;
    list-style: none;
}
#contactMenu.active {
    display: block;
}
#contactMenu > li {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 5px;
}
.navMenu > li > img {
    margin-left: 10px;
}
#scrollingMenu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(245, 245, 220, 0.5);
    color: red;
    text-align: left;
    border-radius: 10px;
    transition: 0.75s;
    pointer-events: auto;
}
#scrollingMenu__btn.active {
    left: 80%;
    background-color: bisque;
    border-radius: 0 10px 10px 0;
}
#scrollingMenu__btn.none {
    display: none;
}
#scrollingMenu__btn::before {
    position: absolute;
    content: "";
    width: 40px;
    border-top: solid 2px;
}
#scrollingMenu__btn::after {
    content: "";
    width: 40px;
    height: 20px;
    border-top: solid 3px;
    border-bottom: solid 3px;
}
/* Menu end */

/* Carousel start */
#slideImgInBigScreenBg.active {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
#carousel {
    z-index: 99999999;
}
#carousel.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
}
#slideImgInBigScreenContainer.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
#slideContainer {
    position: relative;
}
#slideContainer.grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr 1fr;
    top: 50%;
    gap: 15px;
    height: 75vh;
    overflow-y: scroll;
    background-color: beige;
    padding: 50px 20px 20px;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}
.slideIndex {
    position: absolute;
    top: 0;
    color: #ffffff;
    font-size: 2rem;
    padding: 15px;
}
.slideBtn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 1.7rem;
    padding: 5px 10px;
    border: solid #fff 1px;
    border-radius: 5px;
    z-index: 99;
}
.slideBtn.active {
    top: -10px;
    right: 0;
    transform: translateY(-100%);
}
.slideBtn.active1024px {
    position: fixed;
    top: 15px;
    right: 35px;
}
.seeThePhotos {
    cursor: pointer;
}
.imgIcon {
    width: 20px;
    height: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(rgba(0,0,0,1) 15%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 90%, rgba(0,0,0,1) 90%);
    margin-left: 10px;
}
.imgIcon.none {
    display: none;
}
.xmarkIcon {
    display: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-left: 10px;
}
.xmarkIcon.block {
    display: block;
}
.slideImg {
    object-fit: cover;
    object-position: center;
    width: 100vw;
    max-height: 75vh;
    aspect-ratio: 4 / 3;
}
.slideImg.active {
    max-width: 80vw;
    border-radius: 2px;
}
.slideImg.activeMinWidth600px {
    width: 100%;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 2px;
}
.slideImg.activeMinWidth1024px {
    max-width: 300px;
    border-radius: 2px;
}
.slideText {
    position: absolute;
    bottom: 20px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}
.slideText.active {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 80%;
    padding: 0 10%;
}
#prevBtn, #nextBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;        
    top: 50%;
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 30px;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    cursor: pointer;
}
#prevBtn {
    left: 15px;
}
#prevBtn.active {
    top: 100%;
    left: 0;
    transform: translateX(-50%);
    background-color: rgba(128, 128, 128, 0.7);
    color: rgba(255, 255, 255, 0.8);
}
#nextBtn {
    right: 15px;
}
#nextBtn.active {
    top: 100%;
    right: 0;
    transform: translateX(50%);
    background-color: rgba(128, 128, 128, 0.7);
    color: rgba(255, 255, 255, 0.8);
}
/* Carousel end */

/* Grid start */
.descrFlex {
    margin: 0 5%;
}
.descrBlock {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(255, 215, 180);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    margin: 0;
}
h2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 50px 5% -10px;
}
h2::before {
    display: block;
    content: "";
    width: 20px;
    height: 1px;
    background: #5a5a5a;
    box-sizing: border-box;
    margin-right: 15px;
}
.descrBlockWrapper > h2 {
    margin-left: 0px;
}
#theEstablishmentCheckPoint, #swimmingPoolCheckPoint, #theRiverCheckPoint, #aPeacefulPlaceCheckPoint, #theGardenCheckPoint, #theBedroomCheckPoint, #theBreakfastCheckPoint,
#ourAdvantagesCheckPoint, #activitiesCheckPoint, #surroundingsCheckPoint, #yourHostsCheckPoint, #guestReviewsCheckPoint, #mapCheckPoint {
    position: relative;
    bottom: 90px;
}
h3 {
    font-size: 2.3rem;
    font-family: 'Playfair Display', serif;
    text-align: left;
    margin: 20px 0 10px;
}
.descrBlock-row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.descrBlockImg {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 4 / 3;
    margin: 0;
    border-radius: 5px;
}
.mainDescr {
    font-size: 2rem;
    border-radius: 5px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 10px;
}
.iconsInRow {
    margin: 10px auto 0 10px;
}
i {
    font-size: 1.8rem;
    margin-right: 5px;
}
#robertLink {
    font-weight: bold;
}
/* descrBlock end */

/* Guest reviews start */
#guestReviews {
    text-align: left;
    margin: 0 5%;
}
#guestReviewsContainer {
    background-color: #e6f2ff;
    padding: 10px 15px 0;
    border: solid 1px darkblue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#guestReviewsTitle {
    text-align: left;
}
/* Guest reviews end */

#hostAndMapInRow {
    margin: 0 5%;
}

/* yourHosts start */
#posYourHostsImg {
    width: 200px;
    margin: 0 auto 10px;
}
#yourHostsImg {
    width: 100%;
    clip-path: ellipse(33% 50%);
}
#yourHostsDescr {
    background-color: rgb(255, 215, 180);
    font-size: 2rem;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    margin: 0 auto;
}
/* yourHosts end */

/* map start */
#map {
    height: 100%;
    margin: 0;
}
#mapTitle {
    text-align: left;
}
#mapWrapper {
    max-width: 300px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
}
#iframeMap {
    width: 100%;
    border: 1px solid black;
}
/* map end */

#bookBtnFixed {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 80vw;
    max-width: 800px;
    background-color: #CA3604;
    color: #F4E7E0;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    z-index: 100;
}

/* Footer start */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 200, 150);
    color: #000;
    padding-bottom: 80px;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
}
#footer__links__a {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    text-align: center;
    margin: 10px 20px 0;
}
#footer__links__a > a {
    color: #000;
    margin: 5px 0;
}
#footer__contact {
    display: flex;
    flex-direction: column;
}
.footerTitle {
    font-size: 2.5rem;
    font-weight: bold;
}
.NumberPhoneContact, .mailContact {
    display: none;
}
#footer > div > ul > li {
    font-size: 1.8rem;
    line-height: 3rem;
}
#footer__contact > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
}

#footer__contact > ul > li {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    list-style: none;
    cursor: pointer;
}
.contactLogoWhatsApp, .contactLogoMail {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#adressText {
    font-size: 2rem;
}
/* Footer end */

/* API Intersection Observer start */
.reveal [class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
}
.reveal-visible [class*="reveal-"] {
    opacity: 1;
    transform: translateY(0);
    transition: 0.7s cubic-bezier(0.5, 0, 0, 1);
}
.reveal-visible .reveal-h2 {
    transition-delay: 0.1s;
}
.reveal-visible .reveal-h3 {
    transition-delay: 0.2s;
}
.reveal-visible .reveal-icon {
    transition-delay: 0.3s;
}
.reveal-visible .reveal-p {
    transition-delay: 0.4s;
}
.reveal-visible .reveal-img {
    transition-delay: 0.5s;
}
/* API Intersection Observer end */



@media screen and (min-width: 600px) {
    .descrBlock-row {
        display: block;
        background-color: rgb(255, 215, 180);
    }
    .descrBlockImg {
        float: right;
        max-width: 50%;
        margin-left: 15px;
    }
    .mainDescr {
        max-width: 100%;
        background-color: transparent;
        font-size: 1.8rem;
        font-style: italic;
        text-align: justify;
        vertical-align: middle;
        line-height: 3rem;
        padding-right: 10px;
    }

    #footer__links__a {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto auto auto;
    }
    #footer__contact ul {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }
}



/* Tablets */
@media screen and (min-width: 801px) {
    #h1 {
        position: relative;
    }
    /* Menu desktop */
    #nav__Desktop {
        display: block;
    }

    /* Navigation menu start */
    nav {
        width: 100%;
        margin: 0 auto;
        background-color: beige;
        position: sticky;
        top: 0px;
        z-index: 999;
    }
    nav ul {
        display: flex;
        align-items: center;
        list-style-type: none;
    }
    nav ul li {
        position: relative;
        float: left;
        width: 20%;
        text-align: center;
        cursor: pointer;
    }
    nav ul li a {
        font-size: 2rem;
    }
    nav ul::after {
        content: "";
        display: table;
        clear: both;
    }
    nav a {
        display: block;
        text-decoration: none;
        color: black;
        border-bottom: 2px solid transparent;
        padding: 10px 0px;
    }
    nav a:hover {
        background-color: bisque;
        border-bottom: 2px solid gold;
    }
    .navMenu {
        display: none;
        position: absolute;
        background-color: beige;
        width: auto;
        padding: 0;
        box-shadow: 0px 1px 2px #CCC;
        z-index: 1000;
    }
    nav > ul li:hover .navMenu {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr 1fr;
    }
    nav > ul li:hover .contactMenu {
        display: block;
        width: 100%;
    }
    .navMenu li {
        float: none;
        width: 100%;
        text-align: left;
    }
    .navMenu a {
        white-space: nowrap;
        padding: 20px;
        border-bottom: none;
    }
    .navMenu a:hover {
        border-bottom: none;
        background-color: bisque;
    }
    /* .scrollingMenu__desktop > a::before {
        content:"➢";
        font-size: 2rem;
        margin-right: 10px;
    } */
    #navWhyWithUsArrow {
        rotate: 90deg;
    }
    .contactMenu li {
        display: flex;
        align-items: center;
        height: 50px;
        gap: 5px;
        font-size: 2rem;
        cursor: pointer;
    }
    /* Navigation menu end */

    .descrBlock-row {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .descrBlockImg {
        float: none;
    }
    .mainDescr {
        font-size: 2.2rem;
        font-style: italic;
        text-align: center;
        padding: 0;
    }

    #scrollingMenu__btn {
        display: none;
    }
    #scrollingMenu {
        display: none;
    }
    .slideIndex {
        top: 15px;
        left: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 8px;
        border-radius: 2px;
    }
}



/* Desktop */
@media screen and (min-width: 1024px) {
    .descrFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .descrBlockWrapper {
        display: flex;
        flex-direction: column;
        width: 45%;
        box-sizing: border-box;
    }
    .descrBlock {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .descrBlock-row {
        display: block;
        height: 100%;
        box-sizing: border-box;
    }
    .descrBlockImg {
        float: right;
        max-width: 50%;
        margin-left: 10px;
    }
    .mainDescr {
        max-width: 100%;
        font-size: 1.7rem;
        font-style: italic;
        text-align: left;
        line-height: 3rem;
        margin: 0px;
    }
    #hostAndMapInRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #yourHosts > h2, #map > h2 {
        margin: 50px 0 -10px;
    }
    #yourHosts > h3, #map > h3 {
        text-align: center;
    }
    .hostAndMapInRowWrapper {
        width: 45%;
    }

    #footer {
        display: flex;
        flex-direction: row;
        gap: 0;
        padding: 0 10% 80px;
    }
    #footer > div {
        width: 33%;
    }
    #footer__links__a {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr 1fr;
        font-size: 2rem;
        text-align: left;
        margin: 10px 20px 0;
    }
    #footer__contact ul {
        flex-direction: column;
        gap: 0;
    }
}