/* Header start */
#header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: beige;
}
#topHeader {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: beige;
}
#h1 {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    background-color: beige;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    line-height: 50px;
    white-space: nowrap;
    margin: 0 auto;
    z-index: 100;
}
/* Header end */